<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="联通VoWiFi强开模块"
        android:supportsRtl="true">
        
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="强开联通 VoWiFi 通话 - 纯净拦截 0000" />
        <meta-data
            android:name="xposedminversion"
            android:value="54" />
    </application>
</manifest>
